/* imports */
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Lato:400);

/* resets */
*,
*:before,
*:after {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* global */
body {
    color: rgb(255,255,255);
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.3;
    margin: 10px;
}

.wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 85%;
    background-color: #fff;
}

h1 {
    color: rgb(100,100,100);
    font-family: "Lato", cursive;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: rgb(255,255,255);
    font-weight: 900;
    font-size: 3em;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

/* grid */
[class*="row-"] {
    margin-bottom: 20px;
}

    [class*="row-"]:last-child {
        margin-bottom: 0;
    }

[class*="col-"] {
}

div.bgIcon {
    position: relative;
}

    div.bgIcon:before {
        position: absolute;
        font-family: FontAwesome;
        font-size: 70px;
        color: rgba(255,255,255, 0.4);
        top: 10px;
        right: 10%;
        margin-right: 5px;
    }

#one {
    background-color: #3498db;
    content: "\f100";
}

    #one.bgIcon:before {
        content: "\f0f2";
    }


#two {
    background-color: #2ecc71;
}

    #two.bgIcon:before {
        content: "\f012";
    }

#three {
    background-color: #e74c3c;
}

    #three.bgIcon:before {
        content: "\f007";
    }

#four {
    background-color: #e67e22;
}

    #four.bgIcon:before {
        content: "\f200";
    }

    #one div, #two div, #three div, #four div {
        padding-left: 10px;
        padding-bottom: 20px;
        font-size: 1.1em;
        color: rgba(255,255,255, 0.8);
    }


@media all and ( min-width: 768px ) {

    /* all cols margin */
    [class*="col-"] {
        margin-right: 20px;
    }

        [class*="col-"]:last-child {
            margin-right: 0;
        }

    /* make the columns responsive */
    .col-1-4 {
        float: left;
        width: 25%;
    }

    /* 4 span rows */
    .row-4 {
        padding-left: 60px;
    }

        .row-4 [class*="col-"]:first-child {
            margin-left: -60px;
        }
}
